@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.header-div{
    width:100vw;
    margin-left:-1%;
    padding-left: 1%;
    margin-top:-1%;
    
    height: 8%;
    background-color: coral;
}

.title-div{
    vertical-align: middle;
}
.open-sans-font{
    font-family: 'Open Sans', sans-serif;
  }
html{
    font-family: "Open Sans", sans-serif;
    margin:0px;
    padding:0px;
}